<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="Dao.HelpListDaoInterface">
	
	<insert id="save" parameterType="HelpList">
		INSERT INTO helpList(
			type, 
			volunteer, volunteerTel, applicant, applicantTel, 
			target, targetTel, address, 
			livingCase, sex, age, startMonth, payMonth,
			pay, house, protection, generation,
			houseDescription, consultDescription
		) values(
			#{type}, 
			#{volunteer}, #{volunteerTel}, #{applicant}, #{applicantTel}, 
			#{target}, #{targetTel}, #{address}, 
			#{livingCase}, #{sex}, #{age}, #{startMonth}, #{payMonth}, 
			#{pay}, #{house}, #{protection}, #{generation}, 
			#{houseDescription}, #{consultDescription} 
		);
	</insert>
	
	<select id="getRecentHelpSeq" resultType="int">
		SELECT max(seq) FROM helpList;
	</select>
	
	<insert id="insertFamilyList" parameterType="Family">
		INSERT INTO house (
			helpList_seq, relation, famName, age, job, liveWith, etc
		) values (
			#{helpSeq}, #{relation}, #{famName}, #{age}, 
			#{job}, #{liveWith}, #{etc}
		);
	</insert>
	
	<select id="findTarget" parameterType="string" resultType="HelpList">
		SELECT seq, volunteer, volunteerTel, target, targetTel, 
				sex, age, livingCase FROM helpList 
		<where>
			target LIKE CONCAT('%', #{name}, '%')
		</where>
	</select>
	
	<select id="findVolunteer" parameterType="string" resultType="HelpList">
		SELECT seq, volunteer, volunteerTel, target, targetTel, 
				sex, age, livingCase FROM helpList 
		<where>
			volunteer LIKE CONCAT('%', #{name}, '%')
		</where>
	</select>
	
	<select id="findOne" parameterType="int" resultType="HelpList">
		SELECT * FROM helpList 
		<where>
			seq = #{id}
		</where>
	</select>
	
	<select id="findFamily" parameterType="int" resultType="Family">
		SELECT * FROM house 
		<where>
			helpList_seq = #{id}
		</where>
	</select>
	
	<update id="update" parameterType="HelpList">
		UPDATE helpList SET 
			type = #{type}, 
			volunteer = #{volunteer}, volunteerTel = #{volunteerTel}, applicant = #{applicant}, applicantTel = #{applicantTel}, 
			target = #{target}, targetTel = #{targetTel}, address = #{address}, 
			livingCase = #{livingCase}, sex = #{sex}, age = #{age}, startMonth = #{startMonth}, payMonth = #{payMonth},
			pay = #{pay}, house = #{house}, protection = #{protection}, generation = #{generation},
			houseDescription = #{houseDescription}, consultDescription = #{consultDescription}
		<where>
			seq = #{seq}
		</where>
	</update>

	<delete id="deleteFamilyList" parameterType="int">
		DELETE FROM house 
		<where>
			helpList_seq = #{helpSeq}
		</where>
	</delete>
	
</mapper>