<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="Dao.UserDaoInterface">

	<select id="loginCheck" resultType="int" parameterType="hashmap" >
		SELECT count(*) FROM USERLIST 
		<where> 
			ID = #{id} AND
			PWD = #{password}
		</where>
	</select>
	
	<select id="getUserData" resultType="UserList" parameterType="hashmap">
		SELECT * FROM USERLIST
		<where>
			ID = #{id} AND
			PWD = #{pwd}
		</where>
	</select>
</mapper>