@CHARSET "UTF-8";
body{
    height : 1600px;
    background-color: rgb(231, 235, 238);
}

#contentDiv{
    width : 82%;
    height : 100%;
}

label{
    font-size: 10px;
}

h1{
    text-align: center;
}

input{
    margin-right : 20px;
    width : 60px;
}

.phone{
    width : 100px;
}

#typeList{
    margin-bottom : 10px;
}

#addressBox{
    width : 350px;
}

select{
    margin-right: 20px;
}

fieldset{
    margin-bottom : 10px;
}

#pay{
    width : 60px;
    margin-right : 0px;
}

.dataField{
    width : 80%;
    height : 200px;
    margin : 0 auto;
    margin-top : 20px;
    background-color: white;
    border-radius : 5px;
}

.dataField{
    padding-left : 20px;
    padding-top : 10px; 
    margin-bottom : 20px;
}

.dataFieldMore{
    width : 80%;
    height : 300px;
    margin : 0 auto;
    margin-top : 20px;
    background-color: white;
    border-radius : 5px;
    
    padding-left : 20px;
    padding-top : 10px; 
    margin-bottom : 20px;
}

.relation{
    width : 70px;
}

.etc{
    width : 150px;
}

textarea{
    width : 98%;
    height : 75%;
    resize : none;
    font-size : 15px;
    border : none;
}

#btnContainer{
    margin-top : 20px;
}

#btnContainer > input{
    width : 80px;
    height : 40px;
    font-weight : bold;
    font-size: 18px;
}

.hidden{
    display: none;
}

