@CHARSET "UTF-8";
body{
    width : 100%;
    height : 1200px;
    background-color: rgb(231, 235, 238);
}

#contentDiv{
    width : 82%;
    height : 100%;
}

form{
    width : 575px;
    height : 100px;
    margin : 0 auto;
    margin-top : 20px;
}

#searchContainer{
    width : 580px;
}

#searchContainer > select{
    float : left;
    width : 100px;
    margin-right : 10px;
}

#searchBox{
    width : 300px;
    display: inline-block;
    margin-right: 10px;
}

#btnContainer{
    display : inline-block;
}

#tableContent{
    width : 80%;
    height : 500px;
    margin : 0 auto;
    background-color: white;
    border-radius : 8px;
    padding : 5px;
    text-align: center;
    overflow: scroll;
}

table{
    text-align: center;
}

#noData{
    text-align: center;
}

.target:HOVER {
    cursor: pointer;
    color : rgb(21, 93, 130);
}

#dialog{
    display: none;
}