@CHARSET "UTF-8";

body{
    width : 100%;
    height : 1200px;
}

#contentDiv{
    width : 82%;
    height : 100%;
    background-color: rgb(231, 235, 238);
    padding-top : 30px;
}

#header{
    width : 400px;
    height : 50px;
    margin : 0 auto;
}

select{
    width : 80px;
    height : 100%;
    margin-right : 10px;
}

option{
    font-size: 24px;
}

h2{
    display : inline;
}

#tableDiv{
    width : 80%;
    height : 500px;
    margin : 0 auto;
    background-color : white;
    border-radius : 8px;
    margin-top : 30px;
    overflow: scroll;
}

#noData{
    text-align: center;
}

table{
    font-size : 14px;
}

thead,
tbody{
    text-align: center;
}

.target{
    font-weight: bold;
    color: rgb(56,117,215);
}

.target:HOVER {
    cursor: pointer;
    color : rgb(21, 93, 130);
}
