<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE configuration  
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<!-- Type alias -->
	<typeAliases>
		<typeAlias alias="UserList" type="com.poiema.community.model.UserList" />
		<typeAlias alias="HelpList" type="com.poiema.community.model.HelpList" />
		<typeAlias alias="Family" type="com.poiema.community.model.Family" />
			
	</typeAliases>

	<!-- UserMap.xml 등록 -->
	<mappers>
		<mapper resource="com/poiema/community/dao/mapper/UserListMapper.xml" />
		<mapper resource="com/poiema/community/dao/mapper/HelpListMapper.xml" />
	</mappers>
</configuration> 