html{
    width : 100%;
    height : 100%;
}

body{
    width : 28cm;
    height : 42cm;
    margin : 0 auto;
}

select{
    width : 100%;
    height : 100%;
    font-size : 20px;
    font-weight : bold;
    border: none;
}

option{
    font-size : 20px;
}

.colorTd{
    width : 3cm;
}

.secondTd{
    width : 3cm;
}

.textAreaTd{
    width : 26cm;
}

textarea{
    width : 100%;
    height : 100%;
    resize : none;
    font-size : 20px;
    border : none;
}

.whiteTd{
    width : 7cm;
}

.thirdWhiteTd{
    width : 5cm;
}

.collspanTd{
    width : 8cm;
}

.smallTd{
    width : 9cm;
}

.secondWhiteTd{
    width : 17cm;
}


.colorTdSecond{
    width : 120px;
}

.hTd{
    height : 45px;
}

.red{
    background-color: rgb(56,121,217);
    color : white;
}

.blue{
    background-color : rgb(227,244,228);
}

.pink{
    background-color : rgb(254,225,225);
}

.secondTd{
    width : 100px;
}

table{
    width : 100%;
    height: 100%;
    font-weight: bold;
    font-size: 18px;
    border-collapse: collapse;
}

table,td{
    border : 1px solid black;
}

#headerTable{
    width : 210px;
    height : 50px;
    text-align: center;
}

table > tr{
    border : 1px solid black;
}

form{
    width : 100%;
    height : 100%;
    margin-top : 50px;
}

#firstTable{
    height : 100px;
    margin-bottom : 20px;
    text-align:center;
}

#title{
    width : 500px;
    text-align : center;
    margin : 0 auto;
    margin-left : 140px;
    font-size : 40px;
    font-weight: bold;
}

#firstTable > div{
    width : 100%;
    height : 100px;
    padding-top : 50px;
}

#firstTable > div > table,
#firstTable > div > h1{
    float : left;
}

#secondTable{
    height : 50px;
    margin-bottom : 20px;
}

#secondTable > table{
    height : 100%;
    text-align:center;
}

#thirdTable{
    height : 50px;
    margin-bottom : 20px;
    text-align:center;
}

#fourthTable{
    height : 100px;
    margin-bottom : 20px;
    text-align:center;
}

#fifthTable{
    height : 250px;
    margin-bottom : 20px;
    text-align:center;
}

#sixthTable{
    height : 250px;
    margin-bottom : 20px;
    text-align:center;
}

#seventhTable{
    height : 250px;
    margin-bottom : 50px;
    text-align:center;
}

#buttonContainer{
    width : 100%;
    height : 100px;
}

#buttonContainer > div{
    width : 100%;
    height : 100%;
}

#buttonContainer > div > div{
    float : left;
    width : 100px;
    height : 50px;
    margin-left : 25px;
}

#submitButton,
#cancelButton,
#printButton{
    width : 100px;
    margin : 0 auto;
    margin-bottom : 50px;
}

#submitButton > input,
#cancelButton > input,
#printButton > input{
    background-color : rgba(12,143,187,0.5);
    border: none;
    color : white;
    border-radius : 10px;
}

#submitButton > input:HOVER,
#cancelButton > input:HOVER,
#printButton > input:HOVER{
    cursor: pointer;
}

#pay{
    width : 70%;
    text-align : right;
}

input{
    width : 100%;
    height : 100%;
    font-size : 20px;
    padding-left : 5px;
    border : none;
}

.hidden{
    display : none;
}


