html{
    width : 100%;
    height : 100%;
}

body{
    width : 60%;
    height : 100%;
    margin : 0 auto;
    margin-top : 20px;
}

#header{
    width : 90%;
    margin : 0 auto;
    position : relative;
}

#header > div:FIRST-CHILD{
    margin-left : 100px;
}

#header > div{
    margin-bottom: 20px;
    float : left;
}

label{
    margin-left : 20px;
    font-size: 35px;
}

#statusDiv{
    width : 120px;
    height : 100px;
    margin-left: 50px;
}

h2{
    clear : left;
    margin-left: 100px;
    float : left;
}

thead > tr > td{
    background-color : rgb(242,242,242);
    text-align : center;
}

.hidden{
    display: none;
}

.target:HOVER {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

#btnContainer{
    width : 200px;
    margin-top : 19px;
    margin-bottom : 19px;
    margin-left : 30px;
}

#btnContainer > input{
    width : 40%;
    height : 100%;
    border : none;
    border-radius : 10px;
    
    color : white;
    font-size : 20px;
}

#addBtn{
    background-color : rgb(1, 143, 229);
}

#delBtn{
    background-color : rgb(248, 84, 141);
}

#btnContainer > input:HOVER{
    cursor: pointer;
}

table{
    width : 810px;
    margin : 0 auto;
    border-collapse: collapse;
    clear : left;
}

table  tr{
    height : 30px;
}

table,td{
    border : 1px solid black;
    text-align : center;
}

.low{
    width : 45px;
}

.mid{
    width : 90px;
}

.sixty{
    witdh : 60px;
}

.high{
    width : 330px;
}

#dialog{
    display : none;
}
